/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.calculator {
  width: 90%;
  padding: 0 0 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator_title {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 3.2rem;
  font-weight: 500;
  font-size: 2.8rempx;
}

.calculator_title::after {
  content: "";
  background: #fff;
  width: 10rem;
  height: 0.2rem;
  border-radius: 5px;
  margin: 0 2rem;
}

.calculator_title::before {
  content: "";
  background: #fff;
  width: 10rem;
  height: 0.2rem;
  border-radius: 5px;
  margin: 0 2rem;
}

.calculator_button {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 40px;
  padding: 1.2rem 2.5rem;
  border: 1px solid #fff;
  background-color: #08a6e4;
  box-shadow: 0 0 1px #fff;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.calculator_button:hover {
  box-shadow: 0 0 3px #fff;
  background-color: #fff;
  color: black;
}

.calculator_ingr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calculator_ingr_element {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.calculator_ingr_element_title {
  font-size: 1.8rem;
  margin: 1.5rem 0;
}

.calculator_ingr_element label {
  position: relative;
  display: flex;
  align-items: center;
}

.calculator_ingr_element img {
  width: 2.5rem;
  margin-left: 1rem;
  cursor: help;
}

.calculator_ingr_element_input {
  width: 15%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #c0baba;
  background: transparent;
  transition: 0.2s;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}

.calculator_ingr_element_input:focus {
  width: 30%;
  outline: none;
  border-bottom: 1px solid white;
}

.calculator_result {
  height: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  transition: 0.2s;
}

.calculator_result_ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.calculator_result_ingredients span {
  text-align: center;
  width: 40%;
  margin: 2rem 0;
  font-size: 1.9rem;
}

.calculator_result_title {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 3.2rem;
  font-weight: 500;
}

.calculator_result_title::after {
  content: "";
  background: #fff;
  width: 10rem;
  height: 0.2rem;
  border-radius: 5px;
  margin: 0 2rem;
}

.calculator_result_title::before {
  content: "";
  background: #fff;
  width: 10rem;
  height: 0.2rem;
  border-radius: 5px;
  margin: 0 2rem;
}
