$white-color: #F0F1F1;
$red-color: #5E5322;
$yellow-color: #FAD648;
$gray-color: #737373;
$gray-dark-color:#3C3C3C;
$btn-color: #FF0000;
$bg-color: #11203E;
// $bg-color: #28272C;
$light-color: #fff;
$text-color: #6A6A6A;
$gray-light-color: rgb(192, 186, 186)