@import '_variables.scss';
@import '_colors.scss';
@import '_reset.scss';
@import '_fonts.scss';
@import '_home.scss';
@import '_calculator.scss';
@import '_recipes.scss';
html{
    font-size: 10px;
    font-family: $font-base;
    cursor: default;

    @media (max-width: 1400px) {
        font-size: 9px;
    }
    @media (max-width: 1000px) {
        font-size: 8px;
    }
    @media (max-width: 600px) {
        font-size: 7px;
    }
    @media (max-width: 300px) {
        font-size: 6px;
    }

}
            /* ===== Scrollbar CSS ===== */
        /* Firefox */
        * {
            scrollbar-width: auto;
            scrollbar-color: #8f54a0 ;
        }

        /* Chrome, Edge, and Safari */
        *::-webkit-scrollbar {
            width: 0;
            margin: 0;
        }
        
        *::-webkit-scrollbar-track {
            background: transparent;
            box-shadow: inset 0 0 0 0 red;
            border: 0 solid transparent;
        }
        
        *::-webkit-scrollbar-thumb {
            background-color: transparent;
            border-radius: 0x;
            box-shadow: inset 0 0 0 0 red;
            border: 25px solid transparent;
        }


        