@import '_variables.scss';
@import '_colors.scss';
@import '_reset.scss';
@import '_fonts.scss';

.recipes{
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title{
        @include title;
    }
    &_buttons{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 5rem 0 0;

        .active{
            border: 0.75px solid $main-color;
            box-shadow: 0 0 3px $main-color
        }

        &_button{
            @include button
        }
        
    }
    .recipe{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.8rem;
        text-align: center;
        width: 90%;
        margin-top: 3rem;
        
        &_description{
            line-height: 2;
            width: 80%;
            margin: 2rem 0;
        }
        &_title{
            line-height: 2;
            @include title;
        }

        &_ingredients{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 4rem 0;

            &_element{
                width: 40%;
                margin: 2rem 0;
                text-align: center;
            }
        }

    }
}